{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
{% csrf_token%}
<h1 class="text-center mt-4 mb-3">All The Task</h1>
    <div class="all_task pinterest-layout">
        {% for task in all_task %}
            <div class="card" >
                <div class="card-body">
                <h5 class="card-title">{{task.task_title}}</h5>
                <h6 class="card-subtitle mb-2 text-muted"><strong>Task ID:</strong> {{task.id}}</h6>
                <p class="card-text"><strong>Description: </strong>{{task.task_description | truncatewords:20 }}</p>
                <p class="card-text"><strong>Assign Date:</strong> {{task.task_assign_date}}</p>
                <p><strong>Category:</strong> 
                    {% for cat in task.category.all %}
                        <button class="btn btn-warning btn-sm mx-1 my-1" disabled>{{cat.name}}</button>
                    {% endfor %}
                </p>
                
                {% if task.task_completed == True %}
                    <button class="btn btn-success" disabled style="width: 100%">Task Completed</button>
                {% else %}
                    <a class="btn btn-primary" href="{% url 'edittask' task.id%}" class="card-link">Edit</a>
                    <a class="btn btn-danger ms-2" href="{% url 'deletetask' task.id%}" class="card-link">Delete</a>
                {% endif %}
                    
                </div>
            </div>
        {% endfor %}
            
    </div>
{% endblock %}
    