{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
    <form class="registration_form" method="post">
        {% csrf_token %}
        {% if type == 'registration'%}
            <h1>Customer Registration</h1>
        {% else %}
            <h1>Login</h1>
        {% endif %}
        {{form|crispy}}
        {% if type == 'login'%}
            <button class="btn btn-primary ">Login</button>
        {% else %}
            <button class="btn btn-primary">Submit</button>
        {% endif %}
    </form>
{% endblock %}
    