form{
    width: 400px;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.3);
    margin-top: 50px;
}
form h3{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 30px;
}
form button{
    width: 100%;
}

.car-form{
    width: 600px;
}
.car-form textarea{
    height: 200px;
}

