{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<style>
    .album-form{
        width: 30%;
        margin: 0 auto;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
        margin-top: 50px;
    }
    h1{
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }
</style>
    <form class="album-form" method="post">
        <h1>Album Form</h1>
        {% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
{% endblock %}
    